* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI';
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

section {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
}

.navbar {
  box-sizing: border-box;
  padding: 15px;
  margin-left: 21%;
  margin-top: 15px;
  border-radius: 25px;

  background-color: rgba(0, 0, 0, 0.393);

  backdrop-filter: blur(5px);
  height: 4rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.navbar h3 {
  color: #38bdf8;
  margin-left: 2.5rem;
  font-size: larger;
}

.link_container {

  width: 500px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #cbd5e1;
  text-decoration: none;
  transition: color 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
}

.navbar a:hover {
  color: #C7E113;


}
.nav-name{
    font-family: "Black Ops One";
    
    
}



#home {
  margin: 0;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  color: white;
  background-image: url(assets/herobg.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
  display: flex;
  overflow: hidden;
}

.hero-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 78%;
  /* background-color: red; */
  position: relative;
  top: 15%;
  width: 50%;
  color: white;
  text-align: center;
  padding: 50px 10px 0px 30px;

}

.s1 {
  color: #C7E113;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  word-spacing: 2px;
  margin: 0px 0px 15px 0px;
  /* background-color: blue; */
}

.s2 {
  display: flex;
  align-items: center;

  /* background-color: green; */
  text-align: justify;
  font-size: 5.5rem;
  font-family: "Black Ops One", system-ui;
  font-weight: 100;
  font-style: normal;
  height: 65px;
  width: 400px;
  margin-top: 15px;

}

.s3 {
  color: rgb(182, 182, 182);
  margin: 20px 0px 30px 0px;
  text-align: justify;
  /* background-color: blue; */
  width: 350px;
}

.herobutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 400px;

}

.hbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
  height: 100%;
  width: 47%;
  border: 2px solid #C7E113;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.hbtn:hover {
  color: black;
  background-color: #C7E113;

}

#t3 {
  color: #C7E113;
}

#t4 {
  width: 600px;
}

.iconss {
  color: #C7E113;
}

.hbtn:hover .iconss {
  color: black;
  transition: all 0.5s ease;

}




.minihero {
  background-color: rgba(0, 0, 0, 0.115);
  backdrop-filter: blur(20px);
  border-top: 1px solid #c5e11366;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 0px 30px 0px 30px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;


}

.miniwrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0px 45px 0px 45px;
  justify-content: space-evenly;
  /* background-color: red; */
  height: 65px;
  width: 250px;
  border-radius: 15px;
}

/*______________________________________________________ CONTACT ME ______________________________________________*/
#contactme {
  min-height: 100vh;
  padding: 0;
  padding: 0;
  background-image: url("bg.jpg");
  background-color: #1e293b;
  border-top: 2px solid #334155;
}

#contactme h2 {
  margin-top: 80px;
  color: #38bdf8;
  font-size: 2rem;
  text-align: center;
}

.main-cont {

  margin-top: 30px;
  width: 100%;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-div {
  background-color: #003348;
  width: 500px;
  height: 550px;
  border: 6px solid #14a4e2;
  padding: 10px;
}

.second-div h3 {

  color: #38bdf8;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 25px;
}

.name-pass {
  width: 80%;
  margin-top: 60px;
  height: 30px;
  background: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid #38bdf8;
  text-align: start;
  margin-top: 40px;
  padding: 20px 25px 15px 5px;
}

.name-pass::placeholder {
  color: #38bdf8;
  opacity: 0.5;

}

.sub-btn {

  margin-top: 100px;
  width: 90px;
  height: 30px;
  background: transparent;
  color: white;
  border: 1px solid white;
  outline: none;
  font-weight: 500;
}

/*__________________________________ foooter _______________________________________*/

footer {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 80px;
  background: #111;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  flex: 1;

}

.social-icon {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
  gap: 30px;
}

.rights {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;

  font-size: 17px;
}

.icon-link i {
  text-decoration: none;
  color: white;
}

.icon-link i:hover {
  color: #38bdf8;
}

/*______________________________________________________________________________*/


@media (min-width:390px) and (max-width: 440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: scroll;
    scrollbar-width: none;
  }

  .navbar {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 0;
  }

  .navbar a {
    font-size: 10px;
  }

  .link_container {
    width: 100%;
    margin: 10px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .navbar h3 {
    display: none;
    color: blue;
    margin-left: 10px;
    font-size: 9px;
  }

  /* HOME */
  #home h1 {
    font-size: 2rem;
    text-align: center;
  }

  #home p {
    text-align: center;
    padding: 0 10px;
  }

  /* ABOUT */
  #main-info {
    flex-direction: column;
    align-items: center;

  }

  .picture {
    margin-top: 20px;
    margin-left: 0;
    width: 200px;
    height: 200px;
    animation: none;
  }

  .data {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 28px;
    margin-left: 0;
    text-align: center;
    animation: none;
  }

  /* SKILLS */
  .main_container {
    flex-direction: column;
    height: auto;
  }

  .skill_container_out {
    width: 100%;
  }

  .skill {
    height: 25px;
    width: 100px;
    font-size: 14px;
  }

  /* PROJECTS */
  .project-conatiner {
    flex-direction: column;
    height: auto;
  }

  .project-content {
    width: 90%;
    height: auto;
  }

  .pro-img {
    width: 100%;
    height: 300px;
  }

  /* CONTACT */
  .second-div {
    width: 90%;
    height: auto;
  }

  .name-pass {
    width: 90%;
  }

  /* FOOTER */
  .social-icon {
    font-size: 22px;
    gap: 15px;
  }

  .rights {
    font-size: 14px;
  }
}