.shiny-text {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
}
.ogname{
    margin-left: 20px;
    font-size: 60px;
}
.devtext{
    margin: 5px 0 0 20px;
    font-size: 30px;
}