#contactme{
    position: relative;
    padding: 0;
    background: url(../assets/contactbg.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
}
.headings{
    position: absolute;
    top: 13%;
    color: #C7E113;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120px;
    font-weight: 500;
    color: rgb(143, 143, 143);
    /* background-color: green; */
}
.head{
   /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    width: 580px;
}
.cm1{
     font-style: normal;
    font-weight: 400;
    font-family: "Black Ops One", system-ui;
    font-size: 5.6rem;
}
.cm-main-box{
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -36%);
    width: 70%;
    height: 60%;
    /* background-color: blue; */
    display: flex;
    gap: 8px;
    padding: 8px;
}
.b1{
    padding: 18px;
    border: 2px solid #C7E113;
    height: 100%;
    width: 60%;
    /* background-color: red; */
    border-radius: 16px;
    background: none;
    backdrop-filter: blur(5px);

}
.cm2{
    height: 40px;
    color: #C7E113;
    /* background-color: green; */
    display: flex;
    text-align: center;
    gap: 5px;
   
}
.inp-box{
    /* background-color: blue; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}
.inp-box input{
    color: rgba(255, 255, 255, 0.819);
    box-sizing: border-box;
    height: 100%;
    width: 290px;
    font-weight: 500;
    background: transparent;
    padding: 0px 5px 0px 15px;
    border: 2.5px solid #545e13;
    border-radius: 8px;
    outline: none;
}
input::placeholder{
    font-weight: 500;
    opacity: 0.5;
    color: white;
}

textarea{
    background:none;
    color: white;
    padding: 10px;
    resize: none;
    height: 270px;
    width: 100%;
    border: 2.5px solid #545e13;
    border-radius: 8px;
    outline: none;
    font-weight: 500;
    margin-bottom: 15px;
}
.cmbtn{
    width: 200px;
    height: 50px;
    border: none;
    border-radius:8px;
    background-color: #C7E113;
    color: black;
    font-weight: 500;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.b2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: WHITE;
    background-color: green;
    height: 100%;
    width: 40%;
    padding: 18px;
    border: 2px solid #C7E113;
    border-radius: 16px;
    background: none;
    backdrop-filter: blur(5px);
    flex: 1;
}
.b2 h3{
    color: #C7E113;
    margin-bottom: 18px;
}
.main-cont-via{
    height: 100vmin;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}
.contact-via{
    /* background-color: rgba(0, 0, 255, 0.734); */
    margin-bottom: 10px;
    display: flex;
    gap: 18px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    width: 100%;
    color: #f3f4f4bd;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: gray;
}